/* Global */
/********************/
.wrapper {
  margin: 40px;
}

.pageTitle {
  text-align: center;
  text-transform: uppercase;
}

.submitButton {
  text-align: right;
  /* submit button styles */
}
/*******************/

.wrapper {
  text-align: left;
}

.shortInput {
  width: 50%;
}

.longInput {
  width: 70%;
}
