.DivHeader{
    height: 170px;
    width: 100%;
    background-color: #4B268F;

}

.Div3ElementsHeader{
   /*background-color: black;*/
   height: 70px;
   width: 100%;
}

.DivLogo{
    margin-left: 50px;
    height: 45px;
    width: 65px;
    /*background-color: antiquewhite;*/
}

.LogoImg{
    width: 70px;
}

.DivInput{
    height: 40px;
    width: 36%;
    margin-left: 500px;
    /*background-color: red;*/
    margin-top: -20px;
}

.InputEnterPlace{
    height: 20px;
    width: 500px;
    font-size: medium;
    font-weight: bold;
    border-radius: 7px;
    background-color: white;
}

.DivTwoBtn{
    padding-left: 0px;
    height: 45px;
    width: 240px;
    /*background-color: bisque;*/
    margin-left: 1150px;
    margin-top: -40px;
}

.NavSevenBtn{
    padding-right: 600px;
    padding-top: 30px;
}

.BtnHightlightBackGround{
    background-color: white;
    color: #4B268F;
    border-radius: 7px;
    width: 115px;
    height: 45px;
    margin-left: 5px;
}

.BtnHightlightBackGround:hover{
    background-color: blueviolet;
    color: white;
}

.BtnHightlightBorder{
    height: 60px;
    border-radius: 20px;
    border-width: 3px;
    padding-left: 15px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.BtnHightlightBorder:hover{
    border-color: white;
    cursor: pointer;
}

.DivBG{
    height: 390px;
    width: 100%;
    background-color: red;
}

.BGImg{
    width: 100%;
    z-index: 0;
}

.BGImg1{
    z-index: 1;
}